@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y6ctb2');
  src:  url('../fonts/icomoon.eot?y6ctb2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y6ctb2') format('truetype'),
    url('../fonts/icomoon.woff?y6ctb2') format('woff'),
    url('../fonts/icomoon.svg?y6ctb2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 50px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\face";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}

body{
	margin: 0;
}

.contenedor{
	width:100%;
	max-width:1366px;
	margin:auto;
}

header{
	/*FLEX*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #222;
	position: fixed;
	width: 100%;
	opacity: 0.8;
}

.logo {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo a{
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}


.menu nav{
	background-color: #cc0010;
	margin-right: 10px;
	display:flex;
}
	

.menu nav li {
	flex-direction:row;
	flex-wrap: wrap;
	list-style: none;
	color: #fff;
	padding: 10px 15px;
	
}

.menu nav li a{
	text-decoration: none;
	color: #fff;
	font-family: 'Ek Mukta';
}

.menu ul {
	display: block;
	background-color:	#fff;
	position: absolute;
	font-family: 'Ek Mukta', sans-serif;
	top: 70px;
	transform: translateX(60%);
	visibility: hidden;
	transition: all .1s;
	padding-left: 0;
}

.menu nav .a{
	border-bottom: 1px solid #C0C0C0;
}

.menu nav .a:hover{
	background-color:	#D3D3D3;
}

.menu nav .b{
	border-bottom: 1px solid #C0C0C0;
}

.menu nav .b:hover{
	background-color:	#D3D3D3;
}

.menu nav .c{
	border-bottom: 1px solid #C0C0C0;
}

.menu nav .c:hover{
	background-color:	#D3D3D3;
}

.menu nav .d{
	border-bottom: 1px solid #C0C0C0;
}

.menu nav .d:hover{
	background-color:	#D3D3D3;
}

.menu nav .e{
	border-bottom: 1px solid #C0C0C0;
}

.menu nav .e:hover{
	background-color:	#D3D3D3;
}

.menu ul li a{
	color: #222;
}

.menu li:hover ul{
	visibility: visible;
	transform: translateX(0%);
}

.menu li a span{
	transition: all .6s
}



.superior{
	background-image: url("../images/edificios.jpg");
	background-size: cover;
	height: 678px;
	width: 100%;
	max-width: 1366px;
	/*FLEX*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.division{
	margin: auto;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.wrap{
	padding-bottom: 0;
	width: 80%;
	margin: 0 auto;
}

.wrap-titulo{
	max-width: auto;
	width: 80%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: #cc0010;
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
	border-right: 20px;
	border-left: 20px;
}

.wrap-titulo h2{
	font-family: 'Ek Mukta', sans-serif;
	font-size: 60px;
	color: #cc0010;
}

.wrap-titulo p{
 font-family: 'ABeeZee', sans-serif;
 font-size: 30px;
 margin-top: 15px;
 margin-left: -212px;
 margin-right: -212px;
 background-color: #fff;
 opacity: 0.2;
}

.wrap-titulo .button{
	margin-top: -22px;
	padding: 15px;
	background-color: #cc0010;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Ek Mukta', sans-serif;
}

.wrap-titulo .button:hover{
	background-color: #000;
	color: #fff;
}

.central{
	width: 100%;
	background-color: #222;
	padding-bottom: 200px;
}


.titulo-central h2{
	padding-top: 80px;
	font-size: 30px;
	color: #000;
	font-family: 'Ek Mukta', sans-serif;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-right: 48px;
	margin-left: 48px;
}

.ancho-interno {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 150px;
	justify-content: space-around;
}


.ancho-interno a{
	text-decoration: none;
	padding: 20px;
}

a .primera{
	background-color: #FFFF00;
	border:none;
}

 a .primera:hover{
	background-color:#FF2301;
	color: #fff;
	border:none;
}


.primera {
	border-radius: 4px;
	padding-top: 12px;
	padding-right: 70px;
	padding-bottom: 3px;
	border: 2px solid #cc0010;
	color: #000;
	cursor: pointer;
	width: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.primera h3{
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
	margin-left: 15px;
	margin-top: 17px;
	margin-bottom: 0;
	
}

.primera p{
	font-family: 'ABeeZee', sans-serif;
	font-size: 25px;
	margin-left: 20px;
}


.segunda{
	
	border-radius: 4px;
	padding-top: 12px;
	padding-bottom: 30px;
	padding-right: 50px;
	border: 2px solid #cc0010;
	color: #000;
	cursor: pointer;
	width: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

a .segunda{
	background-color: #FFFF00;
	border:none;
}

a .segunda:hover{
	background-color: #FF2301;
	color: #fff;
	border:none;
}

.segunda h3{
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
	margin-left: 15px;
	margin-top: 17px;
	margin-bottom: 0;
}

.segunda p{
	font-family: 'ABeeZee', sans-serif;
	font-size: 25px;
	margin-left: 20px;
}


.tercera{
	border-radius: 4px;
	padding-top: 12px;
	padding-bottom: 30px;
	padding-right: 50px;
	border: 2px solid #cc0010;
	margin: 0;
	color: #000;
	cursor: pointer;
	width: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

a .tercera{
	background-color: #FFFF00;
	border:none;
}

a .tercera:hover{
	background-color: #FF2301;
	color: #fff;
	border:none;
}

.tercera h3{
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
	margin-left: 15px;
	margin-top: 17px;
	margin-bottom: 0;
}

.tercera p{
	font-family: 'ABeeZee', sans-serif;
	font-size: 25px;
	margin-left: 20px;
}

.parte-3{
	background-color: #faebd7;
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.subparte-3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.subparte-3 p{
	font-family: 'Ek Mukta', sans-serif;
	font-size: 20px;
	color: #222;
	margin-left: 30px;
	margin-right: 30px;
}

.subparte-3 .button{
	padding: 15px 25px;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	background-color: #cc0010;
	font-family: 'Ek Mukta', sans-serif;
	text-decoration: none;
	margin-top: 20px;

}

.subparte-3 .button:hover{
	background-color: #000;
	color: #fff;
}

.social{
	width: 100%;
	background-color: #222;
}

.emboltura{
	width: 80%;
	margin: auto;
	padding-top: 97px;
	padding-bottom: 97px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	font-family: 'Ek Mukta', sans-serif;
	font-size: 30px;
}

.derecha{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	line-height: 0;
}

.derecha h4{
	margin-bottom: 0;
}

.derecha a{
	text-decoration: none;
	color: #fff;
	padding: 10px;
}

.derecha ul{
	padding-top: 15px;
}

.izquierda{
	line-height: 1;
	text-align: center;
}

footer{
	background-color: #000;
	
}

.footer{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	color: #fff;
	/*font-family: 'Ek Mukta', sans-serif;*/
	font-family: 'ABeeZee', sans-serif;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;	
}

.derecha .icon-facebook2:hover{
	background-color:#063971;
	color: #fff;
}

.derecha .icon-linkedin:hover{
	background-color:#063971;
	color:#fff;
}

.derecha .icon-twitter:hover{
	background-color: #2271B3;
	color: #fff;
	
}

@media screen and (max-width: 1930px){
	.contenedor{
		max-width: 1920px;
	}

	.superior{
		max-width: 1920px;
		height: 950px;
	}

	.wrap{
		padding-bottom: 0;
	}

	.subparte-3 p{
		margin-left: 225px;
		margin-right: 225px;
	}

	.ancho-interno{
		max-width: 1500px;
		margin: auto;
	}


}

@media screen and (max-width: 1400px){
	.wrap{
		padding-bottom: 0;
	}

	.subparte-3 p{
		margin-left: 30px;
		margin-right: 30px;
	}

	.superior{
		height: 678px;
	}
}

@media screen and (max-height: 1000px){
	.superior{
		height: 918px;
	}
}

@media screen and (max-height: 760px){

	.superior{
		height: 678px;
	}

	.derecha{
		line-height: 1;
	}
}


@media screen and (max-width: 888px){
	footer{
		text-align: center;
	}

	header{
		position: static;
	}
}

@media screen and (max-width: 800px){
	.contenedor{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	header{
		flex-direction: column;
	}

	.subparte-3 p{
		margin-left: 0;
		margin-right: 0;
	}

	.menu{
		width: 100%;
	}

	.menu ul{
		top: 171px;
	}

	.menu nav{
		margin: 0;
		justify-content: space-around;

	}

	.wrap-titulo{
		padding: inherit;
		width: 100%;
		margin: 0;
		justify-content: center;
		align-content: center;
	}
}

@media screen and (max-width: 400px){

    .division{
    	margin-bottom: 225px;
    }

	.wrap-titulo h2{
		font-size: 52px;
	}

	.wrap-titulo .button{
		padding: 9px;
	}

	.button strong{
		font-size: 15px;
	}

	.titulo-central h2{
		font-size: 24px;
	}

	.subparte-3 p{
		font-size: 18px;
	}

	.izquierda{
		font-size: 24px;
	}

	.derecha{
		font-size: 24px;
	}

	.derecha ul{
		line-height: 0;
	}

	.footer p{
		font-size: 19px;
	}

	.primera{
		width: 238px;
		height: 238px;
	}

	.primera h3{
		font-size: 21px;
	}

	.primera p{
		font-size: 19px;
	}

	.segunda{
		width: 238px;
		height: 238px;
	}

	.segunda h3{
		font-size: 21px;
	}

	.segunda p{
		font-size: 19px;
	}

	.tercera{
		width: 238px;
		height: 238px;
	}

	.tercera h3{
		font-size: 21px;
	}

	.tercera p{
		font-size: 19px;
	}
}